<h1>Lista de Usuários:</h1>

<div class="wrapper-table">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Time</th>
        <th>Setor</th>
        <th>Função</th>
        <th>Permissão</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>
          {{ user.team }}
        </td>
        <td>
          {{ user.setorTratado }}
        </td>
        <td>Não Atribuída</td>
        <td>
          {{ user.accessLevel }}
        </td>
        <td>
          <span class="edit-icon" (click)="editarUsuario(user._id)"><i class="fa-solid fa-pen"></i></span>
        </td>
      </tr>          
    </tbody>
  </table>
</div>
