<h1>Lista de Usuários:</h1>

<div class="wrapper-table">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Time</th>
        <th>Setor</th>
        <th>Função</th>
        <th>Permissão</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="nome-funcionairuz">{{ user.name }}</td>
        <td class="time-funcionairuz">
          {{ user.team }}
        </td>
        <td class="setor-funcionairuz">
          {{ user.setorTratado }}
        </td>
        <td class="funcao-funcionairuz">{{ user.funcao }}</td>
        <td class="permissao-funcionairuz">
          {{ user.accessLevel }}
        </td>
        <td class="editar-funcionairuz">
          <span class="edit-icon"><i class="fa-solid fa-pen"></i></span>
        </td>
      </tr>          
    </tbody>
  </table>
</div>
