h1 {
  color: #00175d;
  font-style: italic;
}

.wrapper-table p, .wrapper-table li {
  color: #00175d;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tabs .tab-button {
  border-radius: 20px;
  background-color: #ECECEC;
  color: #000000;
  font-size: 14px;
  padding: 10px 20px;
}

.tabs .tab-button.active {
  background-color: #61dcab;
}

.wrapper-table {
  width: 100%;
  background-color: #ffffff30;
  color: #fff;
  border-radius: 5px;
  border: unset;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 40px;
}

.wrapper-table th span {
  color: #00175d;
  font-size: 10px;
  cursor: pointer;
  position: relative;
  bottom: 1.5px;
}

.wrapper-table th {
  cursor: pointer;
}

table {
  width: 100%;
}

tbody tr {
  border-bottom: 1px solid #00175d;
}

tbody tr:last-child {
  border-bottom: 0;
}

td, th {
  height: 50px;
  color: #00175d;
}

tbody td {
  font-size: 14px;
}

button {
  margin-top: 1rem;
  padding: 10px;
  border: unset;
  background-color: #080b2c;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1rem
}

.edit-icon i {
  color: #61dcab;
  cursor: pointer;
}

thead th {
  padding: 10px;
}

tbody td {
  width: 19.5%;
  padding: 10px;
}

tbody td.editar-funcionairuz {
  width: 2.5%;
}

.modal.show {
  display: block;
  background-color: #28282840;
}

.form-label {
  color: #00175d;
  font-weight: 700;
}

.modal-title {
  color: #00175d;
  font-weight: 800;
}

.modal-content {
  border: unset;
}

.modal-dialog {
  left: 8.5%;
}

.btn-close {
  background-color: unset;
}

.form-control, select, option {
  color: #00175d;
  font-size: 14px;
}

.btn.btn-primary {
  border: unset;
  background-color: #61dcab;
  border-radius: 5px;
  color: #00175d;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.btn.btn-secondary {
  border: unset;
  background-color: #00175d;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.form-check-input:checked {
  background-color: #61dcab;
  border-color: #61dcab;
}

.usuario-ativo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0
}

.form-check-input {
  background-color: #fff5f6;
  border-color: #dfdfdf;
  width: 3em;
  height: 1.5em;
  cursor: pointer;
}

.form-switch .form-check-input:focus {
  box-shadow: none;
}