<div class="menu-lateral">
  <ul>
    <li><button routerLink="/dashboard">Home</button></li>
    <li><button routerLink="/dashboard/perfil">Perfil</button></li>
    <li><button routerLink="/dashboard/historico">Histórico</button></li>
    <li *ngIf="showUsuariosLink">
      <button routerLink="/dashboard/usuarios">Usuários</button>
    </li>
    <li *ngIf="showAvaliacoesLink">
      <button routerLink="/dashboard/avaliacoes">Avaliações</button>
    </li>
    <li><button routerLink="/" (click)="logout()">Sair</button></li>
  </ul>
</div>