<h1>Histórico das Avaliações</h1>

<div *ngIf="isAuthorized">
  <select class="form-select" name="selectUsuario" id="select-usuario" #usuarioSelect (change)="getHistoricoAvaliacoes(usuarioSelect.value)">
    <option disabled selected value="">Selecione um Funcionário</option>
    <option *ngFor="let user of filteredUsers" [value]="user.name">{{ user.name }}</option>
  </select>
</div>

<div *ngFor="let avaliacao of historicoAvaliacoes">
  <p>Avaliado por: {{ avaliacao.avaliador }}</p>
  <p>Data: {{ avaliacao.dataFormatada }}</p>
  <p>Nota Individual: {{ avaliacao.mediaIndividual }}<span>
    <span class="performance-prata" *ngIf="avaliacao.mediaIndividual <= 7">Prata</span>
    <span class="performance-ouro" *ngIf="avaliacao.mediaIndividual > 7 && avaliacao.mediaIndividual <= 9">Ouro</span>
    <span class="performance-diamante" *ngIf="avaliacao.mediaIndividual > 9">Diamante</span>
  </span></p>
  <p>Nota do Time: {{ avaliacao.mediaTime }}</p>
  <p>Nota da Empresa: {{ avaliacao.mediaEmpresa }}</p>
  <p class="nota-final">Média Final: {{ avaliacao.mediaFinalGeral }}</p>
  <div>
    <ul>
      <li *ngFor="let item of avaliacao.itens">
        {{ item.nome }}: {{ item.nota }}
      </li>
    </ul>
    <button>Baixar Relatório</button>
  </div>
  <hr>
</div>

<div class="relatorio" style="display: none">
  <div class="title">
    <p>Avaliação de Desempenho</p>
  </div>
  <div class="header">
    <ul class="labels">
      <li><p>Nome do funcionário:</p></li>
      <li><p>Avaliado por:</p></li>
      <li><p>Data de Avaliação</p></li>
      <li><p>Nota Individual:</p></li>
      <li><p>Nota do Time:</p></li>
      <li><p>Nota da Empresa:</p></li>
      <li><p>Média Final:</p></li>
    </ul>
    <ul class="infos">
      <li><p class="nome-funcionario">Gabriel Camatta</p></li>
      <li><p class="nome-avaliador">Adriany Oliveira</p></li>
      <li><p class="data-avaliacao">23/11/2023</p></li>
      <li><p class="nota-invididual">7.00</p></li>
      <li><p class="nota-time">10.00</p></li>
      <li><p class="nota-empresa">5.00</p></li>
      <li><p class="nota-final">8.50</p></li>
    </ul>
  </div>
  <div class="legendas">
    <div class="legenda">
      <table>
        <thead>
            <tr>
                <th>Legenda</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MB (Muito bom)</td>
            </tr>
            <tr>
                <td>B (Bom)</td>
            </tr>
            <tr>
                <td>R (Regular)</td>
            </tr>
            <tr>
                <td>I (Insatisfatório)</td>
            </tr>
            <tr>
                <td>NC (Não consta)</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="requisitos">
      <table>
        <thead>
            <tr>
                <th>Requisitos</th>
                <th>MB</th>
                <th>B</th>
                <th>R</th>
                <th>I</th>
                <th>NC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Obrigatório</td>
                <td>10</td>
                <td>7</td>
                <td>5</td>
                <td>0</td>
                <td>-10</td>
            </tr>
            <tr>
                <td>Desejado</td>
                <td>0.75</td>
                <td>0.5</td>
                <td>0.25</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Diferencial</td>
                <td>1</td>
                <td>0.75</td>
                <td>0.5</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="criterios">
    <div class="text-info">
      <p>Critérios:</p>
      <div class="lista-criterios-info">
        <ul class="lista-criterios">
          <li>
            Para receber as bonificações* é necessário ter nota individual no mínimo de 9,0 em duas avaliações consecutivas e absenteísmo "Muito Bom";<br><br>Notas:
            <ul>
              <li>Se o colaborador obter nota maior ou igual a 9,0 e o absenteísmo for "Bom", receberá a bonificação da Performance Ouro;</li>
              <li>Caso o colaborador tenha nota maior ou igual a 9,0 porém o absenteísmo for "Regular" ou "Insatisfatório", não receberá as bonificações.</li>
              <li class="not-list-style">*As bonificações estão atreladas ao fluxo de caixa da empresa, ou seja, mesmo o funcionairuz tendo uma performance Ouro ou Diamante, só será bonificado mediante a aprovação do Financeiro.</li>
            </ul>
          </li>
          <li>Para ser promovido é necessário ter nota individual e média no mínimo de 9,0 em quatro avaliações consecutivas;</li>
          <li>Peso = 5 - empresa / 3 - individual / 2 - time;</li>
          <li>Se a empresa não atingiu o resultados, não segue com a promoção;</li>
          <li>
            Promoção de 25%  de colaboradores por time, se houver e programado com o Financeiro, considerando a seguinte ordem:
            <ul>
              <li>Colaborador com maior nota;</li>
              <li>Em caso de empate na pontuação, o colaborador que tiver maior tempo de contratação (não considerando o tempo de estágio).</li>
            </ul>
          </li>
          <li>
            Definição de performance individual:
            <ul>
              <li>Nota 0 até 6,99 = Prata</li>
              <li>Nota entre 7 e 8,99 = Ouro</li>
              <li>Nota igual ou maior  que 9 = Diamante</li>
            </ul>
          </li>
          <li>
            Absenteísmo:
            <ul>
              <li>Insatisfatório: Falta não programada e/ou falta não justificada. Obs.: Se o colaborador tiver banco de horas e não programar a ausência, receberá esta avaliação;</li>
              <li>Regular: Dois atrasos ou mais na semana e/ou acima de um atestado no mês  (equivalente até um dia);</li>
              <li>Bom: Um atraso e/ou um atestado no mês (equivalente até um dia);</li>
              <li>Muito bom: zero absenteísmo. </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="notas">

  </div>

  <div class="assinaturas">
    <div class="assinatura-funcionario">
      <p>Assinatura do Funcionário</p>
    </div>
    <div class="assinatura-avaliador">
      <p>Assinatura do Avaliador</p>
    </div>
  </div>
</div>
