.form-select {
  background-color: #ffffff30;
  color: #00175d;
  border-radius: 100px;
  border: unset;
  padding: 10px 15px;
  width: 80%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 14px;
}

.form-select option {
  color: #080b2c;
}

h1 {
  color: #00175d;
  font-style: italic;
}

hr {
  color: #00175d;
}

button {
  border: unset;
  font-size: 14px;
  font-weight: 600;
}

p {
  color: #000;
}

p span {
  color: #000;
}

p strong {
  color: #000;
}

.aviso-ultimas {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.performance-prata {
  background-color: #CCCCCC;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.performance-ouro {
  background-color: #fdfc36c7;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.performance-diamante {
  background-color: #96f6eec7;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.nota-final {
  margin-bottom: 1.5rem;
  font-weight: 700;
  background-color: #00175D;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absenteismo {
  color: #6411C6 !important;
  font-weight: 600;
}

.wrapper-performance {
  margin-top: 20px;
  text-align: left;
}

.wrapper-performance span {
  color: #61dcab;
  font-size: 16px;
}

.avaliacao {
  box-shadow: 0px 4px 4px 0px #00000026;
  padding: 24px 20px;
  width: 234px;
  border-radius: 8px;
}

.data-avaliacao p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.autor-avaliacao p {
  display: flex;
  flex-direction: column;
}

.avaliacao p span {
  font-weight: 700 !important;
}

.nota-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F3F3;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 16px;
}

.nota-nivel {
  text-align: center;
}

.nota-nivel span {
  width: 100%;
  display: flex;
  border-radius: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.download-relatorio {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-relatorio button {
  text-align: center;
  background-color: unset;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.titulo-media-final {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fff !important;
}

.nota-media-final {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 900;
  line-height: 33px;
  text-align: center;
  color: #61DCAB !important;
}

.resultado-apto {
  background-color: #61DCAB;
  border-radius: 58px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 32px;
}

.resultado-apto p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #00175D;
  margin-bottom: 4px;
}

.resultado-apto p span {
  font-size: 14px;
  text-decoration: underline;
  color: #00175D;
}

.resultado-apto p strong {
  color: #00175D;
}

.resultado-nao-apto {
  background-color: #ECECEC;
  border-radius: 58px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 32px;
}

.resultado-nao-apto p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
  margin-bottom: 4px;
}

.resultado-nao-apto p span {
  font-size: 14px;
  text-decoration: underline;
  color: #000;
}

.resultado-nao-apto p strong {
  color: #000;
}

.performance-flex {
  display: flex;
  gap: 16px;
}

.promocao, .bonificacao {
  position: relative;
}

.tooltip-promocao,
.tooltip-bonificacao {
  position: absolute;
  left: 0;
  bottom: -2rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000026;
  padding: 12px 16px;
  visibility: hidden;
  transition: all .3s;
  border-radius: 8px;
}

.tooltip-promocao p,
.tooltip-promocao a,
.tooltip-promocao strong,
.tooltip-bonificacao p,
.tooltip-bonificacao a,
.tooltip-bonificacao strong {
  font-size: 14px;
  color: #000 !important;
}

.promocao span:hover .tooltip-promocao {
  visibility: visible;
}

.bonificacao span:hover .tooltip-bonificacao {
  visibility: visible;
}

.texto-bonificacao p:first-child {
  position: relative;
  top: 5px;
}

.texto-promocao p:first-child {
  position: relative;
  top: 5px;
}

/* Relatório */

.title {
  text-align: center;
  text-transform: uppercase;
  background-color: #15aea1;
  padding: 20px;
  margin-bottom: 2rem;
}

.title p {
  margin-bottom: 0;
  font-weight: 600;
}

.header {
  display: flex;
}

.header ul {
  width: 50%;
  border: 1px solid #000;
  padding-left: 0;
}

.header ul.labels {
  background-color: #15aea1;
}

.header ul.infos {
  background-color: #14daca;
}

.header ul li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

.header ul li p {
  margin-bottom: 0;
}

.criterios {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.legendas {
  display: flex;
  justify-content: space-between;
}

.legendas thead {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #15aea1;
}

.legenda {
  width: 50%;
}

.legendas table {
  width: 100%;
}

.legendas table tr {
  border: 1px solid #000;
}

.legendas table td,
.legendas table th {
  padding: 5px;
}

.legendas table tbody td {
  background-color: rgb(14, 14, 178);
  min-width: 40px;
}

.requisitos table th,
.requisitos table td  {
  border: 1px solid #000;
}

.notas thead {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #15aea1;
}

.notas table {
  width: 100%;
}

.notas tr, .notas td {
  border: 1px solid #000;
}

.notas table p {
  margin-bottom: 0;
}

.notas tbody {
  background-color: #fff;
}

.notas table td,
.notas table th {
  padding: 5px;
  text-align: center;
}

.notas table td:first-child,
.notas table tr th:first-child {
  text-align: left;
}

.notas tbody td:nth-child(2),
.notas tbody td:nth-child(3) {
  background-color: #14daca;
}

.notas table tbody p {
  color: #000;
}

.assinaturas {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.assinatura-funcionario, .assinatura-avaliador {
  border-top: 1px solid;
  padding-top: 10px;
  width: 280px;
  text-align: center;
}

.wrapper-historico {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

.wrapper-historico > div {
  width: 23%;
}

.wrapper-performance {
  margin-bottom: 80px;
}

.wrapper-historico .avaliacao:not(:nth-last-child(-n+4)) {
  display: none;
}

@media only screen and (max-width: 1440px) {

  .wrapper-historico {
    gap: 25px;
  }

}