<h1>Histórico das Avaliações</h1>

<div *ngIf="isAuthorized">
  <select class="form-select" name="selectUsuario" id="select-usuario" #usuarioSelect (change)="getHistoricoAvaliacoes(usuarioSelect.value)">
    <option disabled selected value="">Selecione um Funcionário</option>
    <option *ngFor="let user of filteredUsers" [value]="user.name">{{ user.name }}</option>
  </select>
</div>

<p class="aviso-ultimas"><strong>Últimas avaliações realizadas:</strong></p>
<div class="wrapper-historico">
  <div *ngFor="let avaliacao of historicoAvaliacoes">
    <p><span>Avaliado por:</span> {{ avaliacao.avaliador }}</p>
    <p><span>Data:</span> {{ avaliacao.dataFormatada }}</p>
    <p><span>Nota Individual:</span> {{ avaliacao.mediaIndividual }}<span>
      <span class="performance-prata" *ngIf="avaliacao.mediaIndividual < 8">Prata</span>
      <span class="performance-ouro" *ngIf="avaliacao.mediaIndividual >= 8 && avaliacao.mediaIndividual < 9">Ouro</span>
      <span class="performance-diamante" *ngIf="avaliacao.mediaIndividual >= 9">Diamante</span>
    </span></p>
    <p><span>Nota do Time:</span> {{ avaliacao.mediaTime }}</p>
    <p><span>Nota da Empresa:</span> {{ avaliacao.mediaEmpresa }}</p>
    <p class="nota-final">Média Final: {{ avaliacao.mediaFinalGeral | number:'1.2-2' }}</p>
    <div>
      <ul>
        <li *ngFor="let item of avaliacao.itens">
          {{ item.nome }}: {{ item.nota }}
        </li>
      </ul>
      <button  (click)="downloadRelatorio(avaliacao)">Baixar Relatório</button>
    </div>
    <hr>
  </div>
</div>
