* {
  color: #00175d;
}

h1 {
  color: #00175d;
  font-style: italic;
}

.form-select {
  background-color: #ffffff30;
  color: #00175d;
  border-radius: 100px;
  border: unset;
  padding: 10px 15px;
  width: 80%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 14px;
}

.form-select option {
  color: #00175d;
}

.table-avaliacao {
  width: 100%;
  margin-top: 2rem;
  background-color: #ffffff30;
  color: #080b2c;
  border-radius: 5px;
  border: unset;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 4rem;
}

table {
  width: 100%;
}

table option {
  color: #fff;
}

tbody tr {
  border-bottom: 1px solid #00175d;
}

td {
  height: 60px;
  font-size: 14px;
}

.table-avaliacao select {
  background-color: #00175d;
  color: #fff;
  border-radius: 5px;
  border: unset;
  padding: 10px;
}

span {
  font-weight: 600;
}

.table-avaliacao thead tr th:not(:first-child),
.table-avaliacao tbody tr td:not(:first-child) {
  text-align: center;
  width: 13%;
}

.enviar-avaliacao button {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  border: unset;
  background-color: #61dcab ;
  font-weight: 600;
  border-radius: 5px;
}

.tabela-qualificacoes,
.tabela-ferramentas,
.tabela-comportamental,
.tabela-individual,
.tabela-time,
.tabela-empresa  {
  margin-top: 4rem;
}

.avaliacao-nome {
  width: 40%;
}

.text-info {
  margin-top: 2rem;
  display: none;
}

.text-info p {
  font-weight: 600;
}

.lista-criterios {
  list-style-type: decimal;
}

.lista-criterios > li {
  margin-bottom: 30px;
}

.lista-criterios ul {
  list-style-type: disc;
}

.lista-criterios ul li.not-list-style {
  list-style-type: none;
}

.lista-criterios ul > li {
  margin-bottom: 20px;
}

.hidden {
  opacity: 0;
}

.aviso-disponibilidade {
  margin-top: 1rem;
}

.absenteismo {
  padding-bottom: 1rem;
  position: relative;
}

.absenteismo:after {
  content: 'Nota: não influência na média';
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ff9df3;
  font-weight: 600;
}

@media only screen and (max-width: 1440px) {

  td {
    font-size: 13px;
  }

}