<p>Selecione um <span>Funcionairuz</span> para realizar a avaliação de desempenho.</p>
<select class="form-select" name="select" id="usuario-avaliado" (change)="atualizarUsuarioSelecionado($event)">
  <option value="" disabled selected>Selecione um Funcionário</option>
  <option *ngFor="let user of filteredUsers" [value]="user.name" [attr.data-team]="user.team" [attr.data-setor]="user.setor">{{ user.name }}</option>
</select>

<p class="aviso-disponibilidade" *ngIf="!usuarioSelecionado">Selecione um usuário para visualizar as métricas de avaliação.</p>

<p class="aviso-disponibilidade" *ngIf="!avaliacaoDisponivel">A avaliação ainda não está disponível para seu time.</p>

<div *ngIf="avaliacaoDisponivel && usuarioSelecionado" class="wrapper-disponivel">

  <div class="table-avaliacao">
    <table class="tabela-competencias">
      <thead>
        <tr>
          <th>Competências - Fixo</th>
          <th>Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'competencia'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td>
              <select id="requisito" name="requisito" [(ngModel)]="item.requisito" (change)="calculateGrade(item)">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Diferencial">Diferencial</option>
                <option value="Desejado">Desejado</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                <option value="Muito Bom">Muito Bom</option>
                <option value="Bom">Bom</option>
                <option value="Regular">Regular</option>
                <option value="Insatisfatório">Insatisfatório</option>
                <option value="Não Consta">Não Consta</option>
              </select>
            </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-qualificacoes">
      <thead>
        <tr>
          <th>Qualificações - Fixo</th>
          <th>Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'qualificacao'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td>
              <select id="requisito" name="requisito" [(ngModel)]="item.requisito" (change)="calculateGrade(item)">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Diferencial">Diferencial</option>
                <option value="Desejado">Desejado</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                <option value="Muito Bom">Muito Bom</option>
                <option value="Bom">Bom</option>
                <option value="Regular">Regular</option>
                <option value="Insatisfatório">Insatisfatório</option>
                <option value="Não Consta">Não Consta</option>
              </select>
            </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-ferramentas">
      <thead>
        <tr>
          <th>Ferramentas - Variável</th>
          <th>Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'ferramenta'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td>
              <select id="requisito" name="requisito" [(ngModel)]="item.requisito" (change)="calculateGrade(item)">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Diferencial">Diferencial</option>
                <option value="Desejado">Desejado</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                <option value="Muito Bom">Muito Bom</option>
                <option value="Bom">Bom</option>
                <option value="Regular">Regular</option>
                <option value="Insatisfatório">Insatisfatório</option>
                <option value="Não Consta">Não Consta</option>
              </select>
            </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-comportamental">
      <thead>
        <tr>
          <th>Comportamental - Fixo</th>
          <th>Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'comportamental'">
            <td class="avaliacao-nome" [ngClass]="{'absenteismo': item.nome === 'Absenteísmo (INFORMATIVO)'}">{{ item.nome }}</td>
            <td>
              <select id="requisito" name="requisito" [(ngModel)]="item.requisito" (change)="calculateGrade(item)">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Diferencial">Diferencial</option>
                <option value="Desejado">Desejado</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                <option value="Muito Bom">Muito Bom</option>
                <option value="Bom">Bom</option>
                <option value="Regular">Regular</option>
                <option value="Insatisfatório">Insatisfatório</option>
                <option value="Não Consta">Não Consta</option>
              </select>
            </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-individual">
      <thead>
        <tr>
          <th>Objetivo Individual - Variável</th>
          <th class="hidden">Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'individual'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td name="requisito" class="hidden">{{ item.requisito }}</td>
              <td>
                <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                  <option value="Satisfatório">Satisfatório</option>
                  <option value="Insatisfatório">Insatisfatório</option>
                </select>
              </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-time">
      <thead>
        <tr>
          <th>Objetivo do Time - Variável</th>
          <th class="hidden">Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'time'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td name="requisito" class="hidden">{{ item.requisito }}</td>
              <td>
                <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                  <option value="Satisfatório">Satisfatório</option>
                  <option value="Insatisfatório">Insatisfatório</option>
                </select>
              </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <table class="tabela-empresa">
      <thead>
        <tr>
          <th>Objetivo da Empresa - Fixo</th>
          <th class="hidden">Requisitos</th>
          <th>Avaliação</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <ng-container *ngIf="item.tipo === 'empresa'">
            <td class="avaliacao-nome">{{ item.nome }}</td>
            <td name="requisito" class="hidden">{{ item.requisito }}</td>
              <td>
                <select [(ngModel)]="item.avaliacao" (ngModelChange)="calculateGrade(item)">
                  <option value="Satisfatório">Satisfatório</option>
                  <option value="Insatisfatório">Insatisfatório</option>
                </select>
              </td>
            <td>{{ item.nota }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  
    <div class="enviar-avaliacao">
      <button (click)="enviarAvaliacao()">Enviar Avaliação</button>
    </div>
     
  </div>
  
  <div class="text-info">
    <p>Critérios:</p>
    <div class="lista-criterios-info">
      <ul class="lista-criterios">
        <li>
          Para receber as bonificações* é necessário ter nota individual no mínimo de 9,0 em duas avaliações consecutivas e absenteísmo "Muito Bom";<br><br>Notas:
          <ul>
            <li>Se o colaborador obter nota maior ou igual a 9,0 e o absenteísmo for "Bom", receberá a bonificação da Performance Ouro;</li>
            <li>Caso o colaborador tenha nota maior ou igual a 9,0 porém o absenteísmo for "Regular" ou "Insatisfatório", não receberá as bonificações.</li>
            <li class="not-list-style">*As bonificações estão atreladas ao fluxo de caixa da empresa, ou seja, mesmo o funcionairuz tendo uma performance Ouro ou Diamante, só será bonificado mediante a aprovação do Financeiro.</li>
          </ul>
        </li>
        <li>Para ser promovido é necessário ter nota individual e média no mínimo de 9,0 em quatro avaliações consecutivas;</li>
        <li>Peso = 5 - empresa / 3 - individual / 2 - time;</li>
        <li>Se a empresa não atingiu o resultados, não segue com a promoção;</li>
        <li>
          Promoção de 25%  de colaboradores por time, se houver e programado com o Financeiro, considerando a seguinte ordem:
          <ul>
            <li>Colaborador com maior nota;</li>
            <li>Em caso de empate na pontuação, o colaborador que tiver maior tempo de contratação (não considerando o tempo de estágio).</li>
          </ul>
        </li>
        <li>
          Definição de performance individual:
          <ul>
            <li>Nota 0 até 6,99 = Prata</li>
            <li>Nota entre 7 e 8,99 = Ouro</li>
            <li>Nota igual ou maior  que 9 = Diamante</li>
          </ul>
        </li>
        <li>
          Absenteísmo:
          <ul>
            <li>Insatisfatório: Falta não programada e/ou falta não justificada. Obs.: Se o colaborador tiver banco de horas e não programar a ausência, receberá esta avaliação;</li>
            <li>Regular: Dois atrasos ou mais na semana e/ou acima de um atestado no mês  (equivalente até um dia);</li>
            <li>Bom: Um atraso e/ou um atestado no mês (equivalente até um dia);</li>
            <li>Muito bom: zero absenteísmo. </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>

