<h1>Pirâmide de Nairuz</h1>

<div class="piramide">
  <div class="notas">
    <div class="diamante">
      <p>6</p>
    </div>
    <div class="ouro">
      <p>9</p>
    </div>
    <div class="prata">
      <p>15</p>
    </div>
  </div>
  <img src="../../../assets/images/nairuz/piramide-de-nairuz.png" alt="Pirâmide de Nairuz">
</div>

<div class="legenda">
  <p><strong>Diamante: </strong>igual ou maior que 9,00 - 6 Funcionairuz</p>
  <p><strong>Ouro: </strong>entre 8,00 e 8,99 - 9 Funcionairuz</p>
  <p><strong>Prata: </strong>de 0 até 7,99 - 15 Funcionairuz</p>
</div>