<h1>Pirâmide de Nairuz</h1>

<div class="piramide">
  <div class="box">
    <div class="pyramid py-1">
    <div class="pyramid__inner">
      <div class="bit bit-1"><span></span></div>
      <div class="bit bit-2"></div>
      <div class="bit bit-3"></div>
      <div class="bit bit-4"><span></span></div>
    </div>
  </div>

  <div class="pyramid py-2">
    <div class="pyramid__inner">
      <div class="bit bit-1"><span></span></div>
      <div class="bit bit-2"></div>
      <div class="bit bit-3"></div>
      <div class="bit bit-4"><span></span></div>
      <div class="bit-5"></div>
    </div>
  </div> 
  
  <div class="pyramid py-2 py-3">
    <div class="pyramid__inner">
      <div class="bit bit-1"><span></span></div>
      <div class="bit bit-2"></div>
      <div class="bit bit-3"></div>
      <div class="bit bit-4"><span></span></div>
      <div class="bit-5"></div>
      
      <div class="bit-6"></div>
    </div>
  </div>  
</div>
</div>

<div class="legendas-notas">
  <p>Nota maior que 9: <strong>Diamante</strong></p>
  <p>Nota entre 7 e 8,99: <strong>Ouro</strong></p>
  <p>Nota 0 até 6,99: <strong>Prata</strong></p>
</div>
