* {
  box-sizing: content-box;
}

h1 {
  color: #00175d;
  font-style: italic;
}

body {
  background: #fffdf1;
}

.box {
  position: relative;
  width: 410px;
  height: 500px;
}

.piramide {
  position: relative;
  margin-bottom: 3rem;
}

.diamante {
  position: absolute;
  top: 70px;
  left: 12rem;
}

.ouro {
  position: absolute;
  top: 180px;
  left: 8.6rem;
}

.prata {
  position: absolute;
  top: 310px;
  left: 4.1rem;
}

.piramide p {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

.legenda {
  margin-bottom: 3rem;
}

.legenda strong {
  color: #00175d;
}